/*------------ RESETS------------------- */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{overflow-x: hidden;}

li{list-style: none;}

a{
    text-decoration: none;
    color: inherit;
}



span,
label,
input,
select,
button{display: block;}

img{height: auto;}

input,
select,
button{
    background: none;
    border: none;
    outline: none;
    font: inherit;
}

input,
select {width: 100%;} 

button {cursor: pointer;}


address{font-style: normal;}

html{
    font-family: var(--ff-segoe);
    scroll-behavior: smooth;
}

/* body{
    background-color: var(--smoke);
} */
/* -----------------------END OF RESETS------------- */



/*---------------- CUSTOMS VARIABLE ---------------- */
:root{
/* COLORS */
    --red: #b60303;
    --red2: #ff0000;
    --blue: #0000ff;
    --smoke: #f5f5f5;
    --light-red: #793333;
    --light-blue: #120530;
    --golden-rod: #daa520;
    --sky-blue: #87ceeb; 
    --light: #fff;
    --dark: #050505;
    --grey: #5c5c5c;
    --transparent-black: #000000ab;
    --transparent-blue: #0400ff23;
    --transparent-red: #ff000033;
    --transparent-red2: #ff000079;
    --transparent-grey: #99989800;
    --hover-gold: #94832671;
    --shadow-grey: #ccbfbf;
    --none: rgba(0, 0, 0, 0);



/* TYPOGRAPHY */
    --ff-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --ff-cursive: cursive;
    --ff-serif: sans-serif;
    --ff-georgia: Georgia, 'Times New Roman', Times, serif;

    /* --fs-1: 3.6rem;
    --fs-2: 2.4rem;
    --fs-3: 2rem;
    --fs-4: 1.8rem;
    --fs-5: 1.7rem;
    --fw-600: 600;
    --fw-500: 500; */

/* SPACING */
    --section-padding: 35px;

/* SHADOW */
    /* --shadow-1: 0 1px 2px hsla(0, 0%, 0%, 0.2);
    --shadow-2: 0 10px 15px -5px var(--carcoal_20);
    --shadow-3: 0 10px 25px -3px var(--carcoal_20);
    --shadow-4: 0 0 3px var(--carcoal_15);
    --shadow-5: 0 20px 25px -5px var(--carcoal_10),
            0 10px 10px -5px var(--carcoal_10);
    */
/* BORDER-RADIUS */
    --radius-pill: 45px;
    --radius-50: 50%;
    --radius-10: 10px;
    --radius-8: 8px;
    --radius-5: 5px;
    --radius-2: 2px;
    --radius-4: 4px;

/* TRANSITION */
    --transition-1: 1s ease;
    --transition-02: 0.2s ease;

    /* TRANSFORM */
    --transform: scale(1.1);
}



/* --------------------REUSED STYLE ----------------- */
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    /* padding: 0 40px; */
    padding: 0 40px;
}
/* -------------------END OF REUSED STYLE */






/* ---------------------MAIN STYLE------------------- */



.head{
    background: url(../img/hotel_background.jpg) fixed;
    background-size: cover;
    background-position: center;
    height: 510px;
    position: relative;
}

.for-top{
    background: linear-gradient(to right, var(--transparent-black), var(--transparent-black)),url(../img/hotel_background.jpg);
    background-size: cover;
    background-position: top;
}

.top-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 5px;
}

.top-items h1{
    color: var(--golden-rod);
    font-family: var(--ff-cursive);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.top-items a{
    color: var(--light);
    font-size: 15px;
    font-family: var(--ff-serif);
    font-weight: bold;
}

.top-items a:hover{
    color: var(--light-red);
    transform: var(--transform);
}

.navbar{
    position: relative;
    display: flex;
    background-color: var(--red);
    justify-content: center;
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--ff-serif);
    height: 110px;
}

.nav-items{
    display: flex;
    gap: 90px;
}

.nav-items .left-items{
    display: flex;
    /* align-items: center; */
}

.navbar .brand{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: center;
    position: absolute;
    margin-top: 10px;
}

.navbar .brand img{
    width: 55px;
    border-radius: var(--radius-50);
    box-shadow: 0 0 50px var(--shadow-grey);
}

.navbar .brand h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: normal;
}

.nav-items .right-items{
    display: flex;
    /* align-items: center; */
}

.nav-items ul li a{
    margin: 20px 20px;
    transition: var(--transition);
    display: flex;
    align-items: center;
}

.nav-items ul li a:hover{
    color: var(--shadow-grey);  
}

.toggle-btn{
    position: absolute;
    color: var(--dark);
    background-color: var(--sky-blue);
    /* top: 29px; */
    right: 40px;
    padding: 8px 15px;
    border-radius: var(--radius-8);
    font-size: 18px;
    display: none;
    margin-top: 20px;
    transition: 0.45s;
}

.top-btns{
    position: absolute;
    bottom: 0px;
    display: flex;
    gap: 2px;
    background-color: #0000007a;;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}


.top-btns button{
    background-color: var(--transparent-blue);
    height: 95px;
    width: 270px;
    color: var(--light);
    border: 2px solid var(--light);
    text-transform: uppercase;
    font-size: 16px;
    transition: var(--transition);
}

.top-btns button:hover{background: none;}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.welcome h2{
    font-family: var(--ff-georgia);
    font-size: 20px;
    color: var(--red);
    font-weight: bold;
    text-transform: uppercase;
}

.welcome img{
    width: 60px;
    margin: 30px 0;
    border-radius: var(--radius-50);
}

.welcome p{
    font-family: var(--ff-cursive);
    color: var(--grey);
    font-size: 15px;
}

#section h1{
    font-family: var(--ff-cursive);
    font-weight: bold;
    font-size: 25px;
    color: var(--red);
    margin: 50px 0 10px 0;
}

.amenities .items ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
}

.amenities .items ul li{
    padding-bottom: 10px;
    font-size: 15px;
    color: var(--grey);
    font-family: var(--ff-georgia);
}

.amenities ul li .fas{
    margin-right: 5px;
}



.room-checkout p{
    color: var(--grey);
    font-family: var(--ff-segoe);
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.room-checkout .rooms{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 5px;
}

.room-checkout .rooms img{
    height: 300px;
    width: 100%;
}

.room-checkout .first,
.room-checkout .second,
.room-checkout .third{
    position: relative;
}

.room-checkout .detail{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    background-color: rgba(153, 152, 152, 0);
    padding: 20px 10px;
    width: 100%;
    visibility: hidden;
}


.room-checkout .rooms h2{
    color: var(--none);
    text-transform: uppercase;
    font-size: 16px; 
}

.room-checkout .rooms button{
    background-color: var(--none);
    border: 1px solid var(--none);
    border-radius: var(--radius-pill);
    padding: 10px 10px;
    color: var(--none);
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 0 8px var(--none);
}

.room-checkout .rooms .display:hover .detail{
    visibility: visible;
    background-color: rgba(153, 152, 152, 0.719);
    transition: 0.99s;
}
.room-checkout .rooms .display:hover .detail h2{
    color: var(--red);
    transition: var(--transition-1);
}
.room-checkout .rooms .display:hover .detail button{
    background-color: var(--transparent-red);
    border: 1px solid var(--light);
    box-shadow: 0 0 8px var(--transparent-black);
    color: var(--light);
    transition: var(--transition-1);
}
.room-checkout .rooms .display:hover .detail button:hover{
    background-color: var(--light-red);
}

.swimming-pool .details-wrap{
    position: relative;
    background-image: url(../img/swimming_pool.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.fitness .details-wrap{
    position: relative;
    background-image: url(../img/fitness.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.events .details-wrap{
    position: relative;
    background-image: url(../img/events.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}


.details{
    background:  rgba(0, 0, 0, 0.329);
    position: absolute;
    top: 0;
    padding: 150px  0 0 40px;
    height: 100%;
    width: 100%;
}


.details p{
    color: var(--light);
    font-family: var(--ff-serif);
    text-transform: uppercase;
    font-size: 27px;
}

.details button{
    padding: 10px 30px;
    background-color: var(--transparent-red2);
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: var(--radius-pill);
    transition: var(--transition-1);
}

.details button:hover{
    background-color: var(--light-red);
}

.news{
    background-color: var(--red);
}
.newsletter-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 40px;
}

.newsletter-links p{
    color: var(--light);
    font-size: 15px;
    font-family: var(--ff-segoe);
    text-transform: uppercase;
    font-weight: 500;
}

.newsletter-links .newsletter form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.newsletter-links .newsletter input{
    padding: 11px 30px;
    background-color: var(--light);
}

.newsletter-links .newsletter input:focus{
    border: 1px solid var(--blue);
}

.newsletter-links .newsletter button{
    height: 50px;
    width: 90px;
    background-color: var(--blue);
    color: var(--light);
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid var(--light);
    transition: var(--transition-1);
}

.newsletter-links .newsletter button:hover{
    background-color: var(--golden-rod);
}

.newsletter-links .contact-links .img-links{
    display: flex;
    gap: 8px;
}

.newsletter-links .contact-links .img-links img{
    width: 40px;
    padding: 8px;
    background-color: var(--light);
    border-radius: var(--radius-50);
    transition: var(--transition-02);
}

.newsletter-links .contact-links .img-links img:hover{
    background-color: var(--shadow-grey);
    transform: var(--transform);
}

footer{
    /* height: 400px; */
    background-color: var(--light-blue);
    color: var(--light);
    
}

footer .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--ff-segoe);
    padding-top: 30px;
    padding-bottom: 30px;
}

footer img{
    width: 150px;
    border-radius: var(--radius-50);
}

footer h1{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}


footer .grid ul li{
    padding-top: 8px;
    color: var(--grey);
    font-size: 13px;
}

footer .grid ul li a{
    color: var(--grey);
}

footer .grid ul li a:hover{
    color: var(--light-red);
    transition: var(--transition-1);
    transform: var(--transform);
}

footer .grid .heads{
    color: var(--light);
    font-weight: bold;
    font-size: 15px;
}

footer .grid ul li .fas{
    color: var(--light-red);
}
  
  footer hr{
    margin: 20px 40px;
    border: 1px solid rgb(255, 255, 255);
}
  
  footer p{
    text-align: center;
    color: var(--light);
    padding-bottom: 20px;
    font-size: 13px;
}

.top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid var(--grey);
    background-color: var(--red);
    color: var(--light);
    border-radius: 15px;
    padding: 11px 13px;
    opacity: 0;
    z-index: 4;
    visibility: hidden;
    transition: var(--transition-1);
}

.top.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
  }

@media(max-width: 600px){

    .container{padding: 0 30px;}

    .welcome h2{font-size: 18px;}

    .welcome p{font-size: 13px;}

    #section h1{font-size: 18px;}

    .amenities .items ul{display: block;}

    .room-checkout .rooms{display: block;}

    .room-checkout .rooms img{margin-bottom: 20px;}

    .top-btns{
        flex-direction: column;
        bottom: 7px;
    }
    
    .details p{font-size: 20px;}

    .details button{padding: 8px 20px;}

    footer .grid{display: block;}

    footer .grid .heads{margin-top: 20px;}

    footer hr{margin: 30px 30px;}

}
@media(max-width: 768px){
    .toggle-btn{display: block;}

    .navbar .brand{
        left: 40px;
        top: 10px;
        margin-top: 0;
    }

    .nav-items{
        display: block;
        align-items: center;
        background-color: var(--red);
        width: 100%;
        position: absolute;
        top: 110px;
        /* left: -1000px; */
        padding-left: 20px;
        max-height: 0;
        overflow: hidden;
        z-index: 100;
        transition: 0.45s; 
    }


    .nav-display{
        max-height: 600px;
        /* left: 0;*/
        transition: 1s; 
    }

    .toggle-turn{
        transform: rotate(140deg);
        transition: 0.45s;
        border-radius: 0;
    }

    .nav-items .left-items{display: block;}

    .nav-items .right-items{display: block;}


    .nav-items .brand img{width: 50px;}
    
    .nav-items .brand h1{font-size: 35px;}
    .top-btns{
        flex-wrap: wrap;
        bottom: 7px;
    }

    .amenities .items ul{grid-template-columns: repeat(2, 1fr);}

    .newsletter-links{
        flex-wrap: wrap; 
        gap:40px; 
    }

    .newsletter{margin-top: 20px;}

    .contact-links{margin-bottom: 20px;}
    
    .container{padding: 0 30px;}

    .room-checkout .rooms{grid-template-columns: repeat(2,1fr);}
}



@media screen and (max-width: 992px){


    .top-btns button{
        height: 90px;
        width: 230px;
    }

    .room-checkout .rooms img{
        height: 280px;
        width: 98%
    }

}

@media (max-width: 1440px){
    .container{
        max-width: 1440px;
    }
}



